<div class="header">
  <div class="header-menu">
    <a href="https://www.richardlieknis.com/"
      ><img class="logo" src="assets/img/logo.svg"
    /></a>
    <img (click)="toggleMenu()" class="menu" src="{{ menuImage }}" />
  </div>

  <div
    *ngIf="isMenuOpen"
    [class.preventScrolling]="isMenuOpen"
    class="menu-overlay"
  >
    <div [@menuFadeIn]="menuState" class="menu-links">
      <span><a href="#aboutme" (click)="toggleMenu()">About me</a></span>
      <span><a href="#myskills" (click)="toggleMenu()">My skills</a></span>
      <span><a href="#portfolio" (click)="toggleMenu()">Portfolio</a></span>
    </div>
    <div [@slideIn]="menuState" class="menu-footer"></div>
    <div class="sayhi">
      <h1>Say Hi!</h1>
      <span>hello@richardlieknis.com</span>
    </div>
    <div class="social">
      <a href="https://github.com/richardlieknis" target="_blank">
        <img src="assets/img/github.png" />
      </a>
      <a href="mailto: hello@richardlieknis.com">
        <img src="assets/img/email.png" />
      </a>
      <a href="https://www.linkedin.com/in/richardlieknis/" target="_blank">
        <img src="assets/img/linkedin.png" />
      </a>
    </div>
  </div>

  <div @fadeIn class="headline" id="headline">
    <h1>
      <div id="frontend">Frontend</div>
      <div id="developer">Developer</div>
    </h1>
    <div id="sub" class="subtitle">
      <div class="line"></div>
      <h3>Richard Lieknis</h3>
    </div>
  </div>
  <div class="header-bottom">
    <div class="mail">
      <a href="#contact">hello@richardlieknis.com</a>
    </div>
    <div class="scrolldown">
      <div class="arrowbox">
        <img src="assets/img/arrow-down.png" />
      </div>
      Scroll
      <br />
      Down
    </div>
  </div>
</div>
