@import '../../variables.scss';
.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-menu {
    background-color: $bg-color;
    padding: 30px clamp(.625rem, 8vw, 6.25rem);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 800;
    left: 0;
    right: 0;
    .logo {
        filter: invert(0);
        cursor: pointer;
        height: 35px;
    }
    .menu {
        height: 25px;
        cursor: pointer;
    }
}

.headline {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    .subtitle {
        margin-top: clamp(.125rem,4vw,.625rem);
        display: flex;
        align-items: center;
        gap: 10px;
        .line {
            width: clamp(6.25rem, 30vw, 25rem);
            border: 1px solid #000;
            transform: translateY(4px);
        }
    }
    h1 {
        font-family: 'syne-eb';
        font-size: clamp(2rem, 10vw, 5rem);
        text-align: center;
        line-height: clamp(2rem, 7vw, 3.75rem);
    }
    h3 {
        margin-top: 10px;
        font-size: clamp(.875rem, 4vw, 1.5rem);
        text-align: right;
        font-family: 'overpass-b';
        color: $highlight;
    }
}

.header-bottom {
    padding: 30px clamp(.625rem, 8vw, 6.25rem);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'overpass-m';
    font-size: 14px;
    .mail {
        writing-mode: vertical-lr;
        scale: (-1);
        cursor: pointer;
        transition: color 225ms ease-in-out;
        &:hover {
            color: $highlight;
        }
    }
    .scrolldown {
        text-align: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .arrowbox {
            overflow: hidden;
            height: 100px;
            img {
                width: 30px;
                animation: infinite 2s pointDown;
            }
        }
    }
}

@keyframes pointDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(150px);
    }
}

.menu-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    z-index: 100;
    .menu-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 120px;
        gap: 40px;
        font-family: 'syne-b';
        font-size: clamp(1.5rem, 10vw, 5rem);
        text-align: left;
        opacity: 0;
        z-index: 500;
        span {
            padding: 0 15px;
            background: linear-gradient(90deg, black, black);
            background-size: 10% 4px;
            background-repeat: no-repeat;
            background-position: left bottom;
            cursor: pointer;
            transition: background-size 225ms ease;
            &:hover {
                background-size: 100% 4px;
                animation: menuLine 1s;
            }
        }
    }
    @keyframes menuLine {
        0% {
            background-size: 10% 4px;
        }
        20% {
            background-size: 30% 4px;
        }
        50% {
            background-size: 10% 4px;
        }
        70% {}
        90% {}
        100% {
            background-size: 100% 4px;
        }
    }
    .menu-footer {
        background-color: #000;
        width: calc(100% + 300px);
        height: 450px;
        transform: rotate(0deg) translate(-100px, 300px);
        position: absolute;
        bottom: -250px;
    }
    .social {
        position: absolute;
        bottom: 30px;
        right: 100px;
        z-index: 1000;
        display: flex;
        gap: 30px;
        img {
            height: 25px;
            cursor: pointer;
            transition: all 250ms;
            &:hover {
                transform: translateY(-10px) rotate(5deg);
            }
        }
    }
    .sayhi {
        position: absolute;
        bottom: 30px;
        left: 100px;
        color: $bg-color;
        h1 {
            font-family: 'syne-eb';
            font-size: clamp(1.5rem,10vw,5rem);
            transition: all 250ms;
            user-select: none;
            &:hover {
                color: $highlight;
            }
        }
        span {
            font-family: 'overpass-m';
            user-select: all;
        }
    }
}