.header {
    width: 100%;
    height: 100vh;
}

.header-menu {
    background-color: #fffcf3;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        filter: invert(1);
        cursor: pointer;
    }
    .menu {
        width: 30px;
        cursor: pointer;
    }
}

.headline {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitle {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .line {
            width: 400px;
            height: 0px;
            border: 1px solid #000;
        }
    }
    h1 {
        font-family: 'syne-eb';
        font-size: 80px;
        text-align: center;
        line-height: 60px;
    }
    h3 {
        margin-top: 10px;
        font-size: 24px;
        text-align: right;
        font-family: 'overpass-b';
        color: #00bc8f;
    }
}

.header-bottom {
    background-color: #fffcf3;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'overpass-m';
    font-size: 14px;
    .mail {
        writing-mode: vertical-lr;
        cursor: pointer;
    }
    .scrolldown {
        text-align: center;
    }
}