@import '../../variables.scss';
.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-menu {
    background-color: $bg-color;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        filter: invert(1);
        cursor: pointer;
        z-index: 1000;
    }
    .menu {
        height: 25px;
        cursor: pointer;
        z-index: 1000;
    }
}

.headline {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    .subtitle {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .line {
            width: 400px;
            height: 0px;
            border: 1px solid #000;
        }
    }
    h1 {
        font-family: 'syne-eb';
        font-size: 80px;
        text-align: center;
        line-height: 60px;
    }
    h3 {
        margin-top: 10px;
        font-size: 24px;
        text-align: right;
        font-family: 'overpass-b';
        color: $highlight;
    }
}

.header-bottom {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'overpass-m';
    font-size: 14px;
    .mail {
        writing-mode: vertical-lr;
        scale: (-1);
        cursor: pointer;
    }
    .scrolldown {
        text-align: center;
        user-select: none;
    }
}

.menu-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    z-index: 100;
    .menu-links {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 70px;
        font-family: 'syne-b';
        font-size: 80px;
        text-align: center;
        span {
            cursor: pointer;
        }
    }
    .menu-footer {
        background-color: #000;
        width: calc(100% + 300px);
        height: 550px;
        transform: rotate(5deg) translateX(-100px);
        position: absolute;
        bottom: -250px;
    }
    .social {
        position: absolute;
        bottom: 130px;
        right: 100px;
        z-index: 1000;
        display: flex;
        gap: 30px;
        img {
            height: 25px;
            cursor: pointer;
            transition: all 250ms;
            &:hover {
                transform: translateY(-10px) rotate(5deg);
            }
        }
    }
    .sayhi {
        position: absolute;
        bottom: 130px;
        left: 100px;
        color: $bg-color;
        user-select: none;
        h1 {
            font-family: 'syne-eb';
            font-size: 80px;
            transition: all 250ms;
            &:hover {
                color: $highlight;
            }
        }
        span {
            font-family: 'overpass-m';
            cursor: pointer;
        }
    }
}