@import '../../variables.scss';
.project-container:hover .boxborder {
    border: 4px solid #000;
    transform: translate(10px, 10px);
}

.project-container:hover .boxborder img {
    transform: rotate(0deg) !important;
    scale: 0.8 !important;
    opacity: 1;
}

.project-container:hover .preview-img {
    filter: grayscale(0.4);
}

.project-container:hover .info-box {
    transform: translateY(0px);
    opacity: 1;
}

.project-container {
    position: relative;
    margin-bottom: 80px;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    user-select: none;
}

@media (max-width: 1300px){
    .project-container {
        justify-content: center !important;
        flex-direction: column;
        min-width: 300px !important;
        gap: 20px !important;
        margin-bottom: 120px !important;
    }
    .project-count {
        top: -40px !important;
    }
    .direction-reverse {
        flex-direction: column !important;
    }
    .info-right {
        transform: translateX(0px) !important;
        // transform: translateY(-400px) !important;
    }
    .info-box {
        transform: translateX(0px) !important;
        opacity: 1 !important;
    }
}

@media (max-width: 550px){
    .boxborder img {
        display: none !important;
    }
}

.preview-box {
    position: relative;
    z-index: 2;
    .preview-img {
        width: clamp(300px , 40vw , 550px);
        height: clamp(150px, 30vw, 300px);
        object-fit: cover;
        box-shadow: 0 3px 10px #0002;
        filter: grayscale(1);
    }
    .boxborder {
        position: absolute;
        top: 0;
        width: clamp(300px, 40vw, 550px);
        height: clamp(150px, 30vw, 300px);
        transition: all 125ms;
        img {
            transform: rotate(135deg);
            scale: 0.1;
            opacity: 0;
            display: flex;
            width: clamp(30px,10vw,75px);
            align-items: center;
            position: absolute;
            right: -40px;
            top: 40%;
            transition: transform 225ms, scale 325ms;
        }
    }
}

.info-box {
    transform: translateX(-600px);
    max-width: clamp(300px, 40vw, 550px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: 'overpass-m';
    opacity: 0;
    transition: transform 225ms, opacity 825ms;
    span {
        font-size: clamp(1rem,8vw,3rem);
        font-family: 'syne-b';
    }
    .tech {
        color: $highlight;
        font-size: clamp(0.5rem, 5vw, 1.5rem);
    }
    .description {
        text-align: justify;
    }
    .links {
        display: flex;
        gap: 30px;
        .link {
            margin-top: 30px;
            border: 4px solid #000;
            background-color: $bg-color;
            padding: 10px 30px;
            cursor: pointer;
            transition: all 200ms;
            &:hover {
                font-family: 'overpass-b';
                padding: 10px 50px;
            }
        }
    }
}

.project-count {
    position: absolute;
    top: -20px;
    display: flex;
    right: 0;
    font-family: 'overpass-b';
    font-size: clamp(1rem, 5vw, 2rem);
    z-index: 4;
}

.count-left {
    right: unset;
    left: 0;
}

.border-left img {
    right: unset;
    left: -40px;
}

.info-right {
    transform: translateX(600px);
}

.direction-reverse {
    flex-direction: row-reverse;
}

.direction-reverse:hover .boxborder img {
    transform: rotate(270deg) !important;
}