<div class="project-container" [ngClass]="{ 'direction-reverse': preImgRight }">
  <div class="project-count" [ngClass]="{ 'count-left': preImgRight }">
    {{ 0 + (projIndex + 1).toString().slice(-2) }} /
    {{ 0 + projectJson.length.toString().slice(-2) }}
  </div>
  <div class="preview-box">
    <img
      class="preview-img"
      src="assets/img/{{ projectJson[projIndex].image }}"
    />
    <div class="boxborder" [ngClass]="{ 'border-left': preImgRight }">
      <img src="assets/img/project-arrow.svg" />
    </div>
  </div>
  <div class="info-box" [ngClass]="{ 'info-right': preImgRight }">
    <span>{{ projectJson[projIndex].title }}</span>
    <div class="tech">{{ projectJson[projIndex].tech.join(" | ") }}</div>
    <div class="description">{{ projectJson[projIndex].description }}</div>
    <div class="links">
      <a target="_blank" href="{{ projectJson[projIndex].github }}">
        <div class="button">Github</div>
      </a>
      <a target="_blank" href="{{ projectJson[projIndex].demo }}">
        <div class="button">Live</div>
      </a>
    </div>
  </div>
</div>
