<div class="project-container">
    <div class="preview-box">
        <img class="preview-img" src="assets/img/pokedex.png">
        <div class="boxborder">
            <img src="assets/img/project-arrow.svg">
        </div>
    </div>
    <div class="info-box">
        <span>Pokedex</span>
        <div class="tech">Javascript | CSS | API</div>
        <div class="description">Lorem Ipsum levalia grandiosa!</div>
        <div class="links">
            <div class="link">Github</div>
            <div class="link">Live</div>
        </div>
    </div>
</div>