<div class="info-container">
    <div class="aboutme">
        <h1>About me</h1>

        <div class="aboutme-info">
            <div class="info">
                <p>I am a Front-end developer based in Düsseldorf, Germany. I help designers and companies to bring their ideas to real life. Creativity and logical thinking are skills that i have developed to connect ideas into quality products.<br><br>                    If you think I would be a good match for your projects, feel free to contact me!
                </p>
                <span>Let's talk</span>
            </div>
            <div class="img">
                <img src="assets/img/me.jpg">
                <div class="boxborder"></div>
            </div>
        </div>

        <div class="arrow-route">
            <img src="assets/img/arrow-l-short.png">
        </div>
    </div>
</div>