<div id="aboutme" style="padding-top: 35px" class="info-container">
  <div class="aboutme">
    <h1>About me</h1>

    <div class="aboutme-info">
      <div data-aos="fade-up" class="info">
        <p>
          Hey, I'm an aspiring frontend junior developer from Düsseldorf, Germany. 
          With a passion for web design and user experience, I have gained solid 
          skills in HTML, CSS and JavaScript, as well as Angular and TypeScript. 
          My joy in creating intuitive, aesthetic user interfaces drives me.
          I'm curious and looking for new opportunities to expand my skills. 
          <br><br>If you're looking for a committed front-end developer working on 
          great digital experiences, I'm available. Let's get into a conversation!
        </p>
        <a href="#contact" style="margin-top: 40px !important">
          <span class="button"> Let's talk </span>
        </a>
      </div>
      <div data-aos="fade-left" class="img">
        <img src="assets/img/me.jpg" />
        <div class="boxborder"></div>
      </div>
    </div>

    <div data-aos="fade-down-left" class="arrow-route">
      <a href="#myskills"><img src="assets/img/arrow-l-short.png" /></a>
    </div>
  </div>
</div>
