@import '../../variables.scss';
.aboutme {
    padding: 0 100px;
    margin-top: 70px;
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-family: 'syne-eb';
        font-size: 60px;
        margin-bottom: 40px;
        transition: color 220ms;
        user-select: none;
        &:hover {
            color: $highlight;
        }
    }
}

.info-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aboutme-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'overpass-m';
    font-size: 22px;
    word-spacing: 5px;
    gap: 30px;
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        text-align: justify;
        span {
            margin-top: 30px;
            border: 4px solid #000;
            padding: 10px 30px;
            cursor: pointer;
            transition: all 200ms;
            &:hover {
                font-family: 'overpass-b';
                padding: 10px 50px;
            }
        }
    }
    .img {
        position: relative;
        img {
            width: 350px;
            filter: grayscale(0.2);
            border-radius: 5px;
        }
        .boxborder {
            position: absolute;
            top: 0;
            width: 350px;
            height: 350px;
            border-radius: 5px;
            transition: all 125ms;
            &:hover {
                border: 4px solid #000;
                transform: translate(10px, 10px);
            }
        }
    }
}

.arrow-route {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    img {
        cursor: pointer;
    }
}