@import '../../variables.scss';
.info-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aboutme {
    padding: 0 clamp(1.25rem, 15vw, 6.25rem);
    margin-top: 70px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        width: fit-content;
        font-family: 'syne-eb';
        font-size: clamp(1.25rem,9vw,3.75rem);
        margin-bottom: 40px;
        transition: color 220ms;
        user-select: none;
        text-align: center;
        white-space: nowrap;
        &:hover {
            color: $highlight;
        }
    }
}

.aboutme-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'overpass-m';
    font-size: 22px;
    word-spacing: 5px;
    gap: 30px;
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        text-align: justify;
    }
    .img {
        position: relative;
        img {
            width: 350px;
            filter: grayscale(0.2);
        }
        .boxborder {
            position: absolute;
            top: 0;
            width: 350px;
            height: 350px;
            transition: all 125ms;
            &:hover {
                border: 4px solid #000;
                transform: translate(10px, 10px);
            }
        }
    }
}

@media (max-width: 900px) {
    .aboutme-info {
        flex-direction: column-reverse;
    }
}

@media (max-width: 500px) {
    .img {
            img {
                width: clamp(10rem,50vw,12.5rem) !important;
            }
    .boxborder {
            width: clamp(10rem, 50vw, 12.5rem) !important;
            height: clamp(10rem, 50vw, 12.5rem) !important;
        }
    }
}

.arrow-route {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    img {
        margin: 30px clamp(0rem,5vw ,12.5rem) 0 0;
        cursor: pointer;
        width: 180px;
    }
}