<div id="aboutme" style="padding-top: 25px" class="info-container">
  <div class="aboutme">
    <h1>About me</h1>

    <div class="aboutme-info">
      <div data-aos="fade-up" class="info">
        <p>
          I am a junior front-end developer based in Düsseldorf, Germany. I help
          designers and companies to bring their ideas to real life. Creativity
          and logical thinking are skills that i have developed to connect ideas
          into quality products.<br /><br />
          If you think I would be a good match for your projects, feel free to
          contact me!
        </p>
        <span class="button">
          <a href="#contact">Let's talk</a>
        </span>
      </div>
      <div data-aos="fade-left" class="img">
        <img src="assets/img/me.jpg" />
        <div class="boxborder"></div>
      </div>
    </div>

    <div data-aos="fade-down-left" class="arrow-route">
      <a href="#myskills"><img src="assets/img/arrow-l-short.png" /></a>
    </div>
  </div>
</div>
