@import '../../variables.scss';
.project-container {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--txt-color);
}

.projects {
    padding: 0 clamp(.625rem, 8vw, 6.25rem);
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        width: fit-content;
        font-family: 'syne-eb';
        font-size: clamp(1.25rem, 9vw, 3.75rem);
        transition: color 220ms;
        user-select: none;
        &:hover {
            color: $highlight;
        }
    }
    h2 {
        font-family: 'overpass-m';
        font-weight: unset;
        margin-bottom: 120px;
        text-align: center;
        font-size: clamp(1rem, 3vw, 1.25rem);
    }
}