<div
  data-aos="fade-up"
  data-aos-offset="500"
  id="contact"
  class="contact-container"
>
  <div class="black-slide"></div>

  <div data-aos="fade-left" data-offset="0" id="contact" class="contactme">
    <h1>Say Hi!</h1>
    <div class="main-content">
      <div class="form-input">
        <div class="desc">
          <h2>Want to discuss a new project?</h2>
          <p>Say hello! Let's discuss your ideas and make it happen</p>
        </div>
        <app-contact-form></app-contact-form>
      </div>
      <div class="contact-footer">
        <div class="page-up">
          <a href="#"
            ><img src="assets/img/arrow-down.png" style="filter: invert(1)"
          /></a>
        </div>
        <div class="links">
          <a href="https://github.com/rycc00" target="_blank">
            <img src="assets/img/github.png" />
          </a>
          <a href="mailto: richard.lieknis@web.de">
            <img src="assets/img/email.png" />
          </a>
          <a href="https://www.linkedin.com/in/richardlieknis/" target="_blank">
            <img src="assets/img/linkedin.png" />
          </a>
        </div>
        <div class="creator">
          <img class="logo" src="assets/img/logo.svg" />
          <span>&copy; Richard Lieknis</span>
        </div>
        <div class="legalnotice">
          <span (click)="openImprint()">Legal notice</span>
        </div>
      </div>
    </div>
  </div>
</div>
