<div data-aos="fade-up" data-aos-offset="500" id="contact" class="contact-container">
    <div class="black-slide"></div>

    <div class="contactme">
        <h1>Say Hi!</h1>
        <div class="main-content">
            <div class="form-input">
                <div class="desc">
                    <h2>Want to discuss a new project?</h2>
                    <p>
                        Say hello! Let's discuss your ideas and make it happen
                    </p>
                </div>
                <input type="text">
                <button>Send message</button>
            </div>
            <div class="contact-footer">
                <div class="links">
                    <img src="assets/img/github.png">
                    <img src="assets/img/email.png">
                    <img src="assets/img/linkedin.png">
                </div>
                <div class="creator">
                    <img class="logo" src="assets/img/logo.svg">
                    <span>&copy; Richard Lieknis</span>
                </div>
                <span>Legal notice</span>
            </div>
        </div>
    </div>
</div>