@import '../../variables.scss';
.skill-container {
    position: relative;
}

.image {
    overflow: hidden;
}

.skill-container .image img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.skill-container:hover .image img {
    animation: anim 1s linear infinite;
}

.skill-container .name {
    font-family: 'overpass-m';
    position: absolute;
    bottom: -30px;
    transition: color 0.3s ease;
    user-select: none;
}

.skill-container:hover .name {
    color: $highlight;
}

@keyframes anim {
    0% {
        transform: translateX(0px);
        scale: 1;
    }
    25% {
        transform: translateX(50px);
        scale: 0.7;
    }
    50% {
        transform: translateX(0px);
        scale: 0.6;
    }
    75% {
        transform: translateX(-50px);
        scale: 0.7;
    }
    100% {
        transform: translateX(0px);
        scale: 1;
    }
}