@import '../../variables.scss';
.skill-container {
    display: grid;
    justify-items: center;
    position: relative;
}

.skill-container .image img {
    filter: var(--invert);
    max-width: 100%;
    height: 60px;
    position: relative;
}

.skill-container:hover .image img {
    animation: anim .8s linear;
}

.skill-container .name {
    font-family: 'overpass-m';
    position: absolute;
    bottom: -25px;
    transition: color 0.3s ease;
    user-select: none;
}

.skill-container:hover .name {
    color: $highlight;
}

@keyframes anim {
    0% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(6deg);
    }
    30% {
        transform: translateX(15px) rotate(-6deg);
    }
    45% {
        transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(1.2deg);
    }
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
}