@import '../../variables.scss';
.myskills-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.myskills {
    padding: 0 clamp(.625rem, 8vw, 6.25rem);
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    h1 {
        transform: translateY(75px);
        font-family: 'syne-eb';
        font-size: clamp(.625rem, 9vw, 3.75rem);
        margin-bottom: 40px;
        transition: color 220ms;
        user-select: none;
        width: fit-content;
        padding: 0 clamp(0rem, 2vw, 1.25rem);;
        text-align: center;
        background-color: $bg-color;
        z-index: 5;
        &:hover {
            color: $highlight;
        }
    }
    .skillbox {
        border: solid 4px #000;
        margin-bottom: 30px;
        padding: 100px 30px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 80px 0px;
        align-content: center;
    }
}

@media (max-width: 800px){
    .skillbox {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px !important;
        padding: 30px;
    }
}

.arrow-route {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    img {
        margin: 0 0 0 clamp(0rem, 5vw, 12.5rem);
        cursor: pointer;
        width: 180px;
    }
}