@import '../../variables.scss';
.imprint {
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: clamp(5px, 10vw, 25px);
  font-family: 'overpass-m';
  .head {
    text-align: center;
  }
  text-align: justify;
}

h1, h2, h3 {
  font-family: 'syne-b';
}