@import 'variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: unset;
    }
    scrollbar-width: auto;
    scrollbar-color: $highlight var(--bg-color);
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    background-image: url(assets/img/bg.png);
    background-repeat: repeat;
}

body.dark {
    @include darken();
}
body.light {
    @include lighten();
}


.d-none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.visable {
    visibility: visible;
}

.preventScrolling {
    overflow: hidden;
}

.button {
    color: var(--txt-color);
    margin-top: 30px;
    border: 4px solid var(--txt-color);
    background-color: var(--bg-color);
    padding: 10px 30px;
    cursor: pointer;
    transition: all 200ms;
    &:hover {
        font-family: 'overpass-b';
        padding: 10px 50px;
    }
}

@font-face {
    font-family: 'overpass-b';
    src: url(assets/fonts/Overpass-Bold.ttf);
}

@font-face {
    font-family: 'overpass-m';
    src: url(assets/fonts/Overpass-Medium.ttf);
}

@font-face {
    font-family: 'syne-b';
    src: url(assets/fonts/Syne-Bold.ttf);
}

@font-face {
    font-family: 'syne-eb';
    src: url(assets/fonts/Syne-ExtraBold.ttf);
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: $highlight;
    border-radius: 0px;
    border: 0px solid var(--bg-color);
}

::selection {
    background-color: $highlight;
    font-size: 20px;
}
