@import 'variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: unset;
    }
    scrollbar-width: auto;
    scrollbar-color: $highlight $bg-color;
}

@font-face {
    font-family: 'overpass-b';
    src: url(assets/fonts/Overpass-Bold.ttf);
}

@font-face {
    font-family: 'overpass-m';
    src: url(assets/fonts/Overpass-Medium.ttf);
}

@font-face {
    font-family: 'syne-b';
    src: url(assets/fonts/Syne-Bold.ttf);
}

@font-face {
    font-family: 'syne-eb';
    src: url(assets/fonts/Syne-ExtraBold.ttf);
}

body {
    background-image: url(assets/img/bg.jpg);
    background-repeat: repeat;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: $bg-color;
}

*::-webkit-scrollbar-thumb {
    background-color: $highlight;
    border-radius: 0px;
    border: 0px solid $bg-color;
}