$bg-color: #fffcf3;
$highlight: #00bc8f;
$txt-color: #121212;


// mixin that enables css variables in light mode
@mixin lighten() {
  --bg-color: #{$bg-color};
  --txt-color: #{$txt-color};
  --border-color: #{$txt-color};
  --highlight: #{$highlight};
  --invert: invert(0);
  --bg-image: url(assets/img/bg.png);
}
@mixin darken() {
  --bg-color: #{$txt-color};
  --txt-color: #{$bg-color};
  --border-color: #{$bg-color};
  --highlight: #{$highlight};
  --invert: invert(1);
    --bg-image: url(assets/img/bg_dark.png);
}
